
<div id="vs-container" class="vs-container">
  <header class="vs-header">
    <div id ="hello"><%if current_user%>
    <div id="mikasa">Bless you, </div><%=current_user.name%><%end%></div>
    <div id="large-header" class="large-header">
      <canvas id="demo-canvas"></canvas>
      <h1 class="main-title">SNOT | TONS</h1>
    </div>

    <ul class="vs-nav">
      <li><a href="#section-1">Sn33zE</a></li>
      <li><a href="#section-2">PICK B00G</a></li>
      <li><a href="#section-3">Log A St33ze</a></li>
      <li><a href="#section-4">Random Pick</a></li>
      <li><a href="#section-5">Log IN</a></li>
    </ul>

  </header>
  <div class="vs-wrapper">

<!-- Search -->
    <section id="section-1">
      <div class="vs-content">
        <div class="wrapper2">
          <p>Welcome to SnottonS! <br> <br>
            So pretty much what this is IS to compile resources and references for social justice topics (or arguments). <br>
            <br>Always show love in your posts. Random Latin and Tech Speak allowed. </p></p>

        </div>
      </div>
    </section>

    <!-- LIST ALL   -->

    <section id="section-2">
      <div class="vs-content">

      <div class="table">
          <% Post.all.each do |post|%>
          <% user= User.find_by(id: post.user_id)%>
          <div class="row">
          <a href='/post/<%=post.id%>'><%=post.title%></a><br>
            <span class="sub">by <%=user.name%></span><br>
          </div>
          <%end%>
        </div>

        </div>
      </section>

<!-- Create New POst  -->
      <section id="section-3" >
        <%= display_error %>
        <div class="vs-content">
          <form action='/post' method ="POST">
            <br>
            <input name='post[title]' type='text' placeholder='Title'><br>
            <br>
            <textarea name='post[content]' cols="87" rows="20">Content</textarea><br>
            <br>
            <input name='tag[name]' type='text' placeholder="Tags, Separate, by, Commas"><br>

            <input name='resource[title]' type = 'text' placeholder="Resource Description">
            <br>
            <input name='resource[resource_url]' type = 'text' placeholder="Resource URL"><br>
            <br><input type='submit' value='Add Entry'>
          </form>

        </div>
      </section>
<!-- Random post -->
      <section id="section-4" >
        <div class="vs-content">
          <h3>Check this B00G >></h3>
          <%rand_id=rand(1..Post.count)%>
          <%rand_post= Post.find_by(id: rand_id)%>
          <div class='wrapper'>

            <div class="tags">
              <%tags=[]%>
              <%PostTag.where(post_id: rand_id).each do |pt|%>
              <%tag = Tag.where(id: pt.tag_id)%>
              <%tag.each do |tag|%>
              <%tags << tag.name%>
              <%end%>

              <%end%>
              <h6>tags: <%=tags.join(", ")%></h6>

            </div>

            <h2><%=rand_post.title%></h2>

            <%author= User.find_by(id: rand_post.user_id)%>
            <a href='/user/<%=author.id%>'><h4>by <%=author.name%></h4></a><br>
            <%if current_user%>
            <a href='/post/<%=rand_id%>/edit'><button type="button">Edit</button></a>
            <%end%>

            <%=rand_post.content%><br>

            <h4>Additional Resources</h4>
            <ol class= "resources">
              <%resources= Resource.where(post_id: rand_id)%>
              <%resources.each do |resource|%>
              <%if (/([a-z\-_0-9\/\:\.]*\.(jpg|jpeg|png|gif))/i =~resource.resource_url).nil?%>

              <li><a href="<%=resource.resource_url%>"><%=resource.title%><br></a></li>

              <%else%>

              <li><img class="img" src="<%=resource.resource_url%>" alt="<%=resource.title%>"></li>

              <%end%>
              <%end%>
            </ol>
            <br>

            <div class="panel">
              <h3>Add Resource</h3>
              <form action="/post/<%=rand_id%>/resource" method="POST">

                <input name='resource[title]' type = 'text' placeholder="Resource Description">

                <input name='resource[resource_url]' type = 'text' placeholder="Resource URL">
                <input type='submit' value='Add Entry'>
              </form>
            </div>
          </div>



        </div>
      </section>

<!-- LOG IN -->
      <section id="section-5">
        <div class="vs-content">
          <div class="wrapper2">
          <h2>Auth-CHOO</h2>
          <%= display_error %>

          <form action="/login" method="POST">
            <br>
            <input type="text" name="user[name]" placeholder="username"><br>
            <br>
            <input type="password" name="user[password]" placeholder="passwurd"><br>
            <br><input type="submit" value="Login!">
          </form>
          <h5><a href="/signup"> or sign up!</a></h5>
        </div>
        </div>
      </section>

    </div>



    <script src="js/classie.js"></script>
    <script src="js/hammer.min.js"></script>
    <script src="js/main.js"></script>

  </div>

  <script src="js/TweenLite.min.js"></script>
  <script src="js/EasePack.min.js"></script>
  <script src="js/rAF.js"></script>
  <script src="js/demo-1.js"></script>
